Storage {
  Name = {{ sd_name }}-storage
  Address = {{ sd_address }}
  Autochanger = {{ sd_name }}-File
  Device = {{ sd_name }}-storage
  MaximumConcurrentJobs = 20
  MediaType = "File3"
  Password = "{{ sd_password }}"
  SdPort = 9103
}
