# {{ client_name }} client configuration

Client {
  Name = {{ client_name }}-fd
  Address = {{ client_ip }}
  AutoPrune = yes
  Catalog = "MyCatalog"
  FileRetention = 2592000
  JobRetention = 2592000
  MaximumConcurrentJobs = 5
  Password = "{{ client_password }}"
}

Fileset {
  Name = "{{ client_name }}-set"
  Include {
   Options {
    Compression = Gzip9
    Dedup = BothSides
    Signature = Md5
    Exclude = yes
   }

  {% for item in client_include_dirs %}
    File = {{ item }}
    {% endfor %}
    }
  {% if client_exclude_dirs %}
  Exclude {
    {% for item in client_exclude_dirs %}
    File = {{ item }}
    {% endfor %}
  }
  {% endif %}
}

Job {
  Name = backup-{{ client_name }}
  Client = {{ client_name }}-fd
  Enabled = no
  Fileset = "{{ client_name }}-set"
  JobDefs = "DefaultJob"
  MaximumConcurrentJobs = 10
  Messages = "Standard"
  Pool = "S3 Cloud Pool - India"
  Schedule = "Daily Increment Saturday Full"
  Storage = "S3-Cloud-Storage-India"
  WriteBootstrap = "/opt/bacula/working/%c_%n.bsr"
}
